html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}




.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y:hidden;
  padding-top: 20px;
}

.canvas{
  margin: 15%;
}

.arrayInfo{
  margin: 15%;
  width: 200px;
  height: 400px;
  overflow-y:auto;
  overflow-x: hidden;
  background: black;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  padding: 4px;
  font-family: 'Crimson Text', serif;
}
